<div class="relative w-full h-screen">
    <img 
        src="../../../assets/images/background-netflix.jpg" 
        alt="Netflix Background" 
        class="absolute inset-0 w-full h-full object-cover"
    >
    <div class="absolute inset-0 bg-black opacity-60"></div>
    
    <div class="w-full md:w-6/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80">
        <h1 class="text-3xl font-bold py-2 mb-4"><span class="text-red-600 text-5xl">Netflix</span> Sign In</h1>
        <div id="google-btn"> </div>
    </div>
</div>
